.container {
  width: 100%;
  display: column;
}

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.mainContainer {
  padding: 1em;
}

.middle {
  padding-left: 20%;
  padding-right: 20%;
}

.deleteButton {
  display: flex;
  justify-content: flex-end;
}

.textarea-noBorder {
  border: 0px;
}

.aceTabs {
  display: flex;
}