.container {
  width: 100%;
  display: column;
}

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.mainContainer {
  padding: 1em;
}