.container {
  width: 100%;
  display: column;
}

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.mainContainer {
  padding: 1em;
}

.middle20 {
  padding-left: 20%;
  padding-right: 20%;
}

.middle10 {
  padding-left: 10%;
  padding-right: 10%;
}

.linkStyle {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  text-decoration: underline;
  padding: 10px;
}

.deleteStyle {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  text-decoration: underline;
}

.textarea-noBorder {
  border: 0px;
}

.flex {
  display: flex;
}

.col-xs-3, .array-item-toolbox {
  width: 15%;
}

.panel-info>.panel-heading {
  background: #FFF;
}

.componentSearch {
  width: 30%;
}

.paddingTop {
  padding-top: 0.5rem;
}

.rstcustom__rowLabel {
  cursor: pointer;
}

.wellStyle {
  font-size: 1.5rem;
}

.exportFiles {
  display: flex;
  justify-content: flex-start;
}

.glyphRed.glyphicon-adjust {
  color: red;
}

*:focus {outline:none}

.modalDefault {
  height: 80% !important;
  width: 80% !important;
}

.componentAce {
  height: 100%;
  width: 40%;
  float: left;
}

.serviceAce {
  height: 100%;
  width: 70%;
  float: left;
}

.nav-tabs {
  font-size: 13px;
}

.navbar {
  padding: 0px;
  min-height: 20px;
  margin: 0px;
}

.glyphicon-export {
  vertical-align: -webkit-baseline-middle;
}

.col-md-0 {
  padding-left: 1em;
  padding-top: 0.5em;
  cursor: pointer;
}

.navbar-settings {
  padding: 0px;
  margin: 0px;
  color: black;
}

.glyphicon-remove-circle, .glyphicon-adjust, .glyphicon-info-sign {
  cursor: pointer;
  padding-left:0.5em;
  color: #FF7D7D;
}

.glyphicon-adjust {
  color: #6dcd9a;
}

.rst__moveHandle, .rst__loadingHandle {
  background-color: #92D4E8;
}

div.rst__rowContents {
  border-radius: 0px 10px 10px 0px;
}

div.rst__moveHandle {
  background-color: #92D4E8;
}

.glyphicon-export {
  color: #FF7D7D;
}

.navbar-settings>li>a {
  color: balck;
}

.glyphicon-flash, .glyphicon-cog, .glyphicon-th-list, .glyphicon-star-empty,
.glyphicon-object-align-bottom, .glyphicon-object-align-top,
.glyphicon-wrench {
  cursor: pointer;
  padding-right:0.5em;
  color: #6dcd9a;
}

.navBar-txt {
  color: #3D5B94;
  padding-right: 20px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: 1px solid #6dcd9a;
  border-bottom: 0px;
  background-color: #ECF8F1;
}

.compInfo {
  color: #FF7D7D;
}

.compInfo1 {
  color: #92D4E8;
}

.offline {
  color: gray;
}

.online {
  color: #6dcd9a;
}

.navbar-default .navbar-brand {
  color: #468362;
}

.emptyExport {
  padding-left: 1em;
  padding-top: 0.5em;
}

.footer {
   left: 0px;
   bottom: 0px;
   height: 5px;
   width: 100%;
   position: fixed;
   z-index: 10;

   a {
      float: left;
      line-height: 10px;
      text-decoration: none;
      color: white;
      text-align: center;
      font-weight: bold;
    }

    .face {
      background-color: #3D5B94;
      font-size: 12e;
      width: 33%;
    }

    .tweet {
      background-color: #92D4E8;
      font-size: 12;
      width: 33%;
    }

    .support {
      background-color: #6dcd9a;
      font-size: 0.8em;
      width: 34%;
    }
}

.rst__placeholder{
    z-index: 0;
}

.filterComponentsBox {
  padding: 10px 10px 0px 10px;
  background: #ECF8F1;
}

.filterComponentsLabel {
  color: #468362;
}

.filterComponentsBox1 {
  padding: 10px 10px 0px 10px;
  background: #F1F9FC;
  min-height: 6em;
}

.downloadFiles {
  font-size: 1.5rem;
  color: #3D5B94;
  padding: 20px 10px 10px 0px;
}

.destinationLabel {
  color: #468362;
}

.exportDest {
  color: #FF7D7D;
}

.exportFilesLinks, .changeDest {
  padding-left: 10px;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.tabsList {
  padding-left: 40px;
}

.successExport {
  //-webkit-animation: fadeout 2s;
  font-size: 24px;
  padding-left: 30px;
  transition: width 1s 1s, height 1s 1s, opacity 1s;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.panel-info {
  border-color: #fff;
}

// .btn-add > i {
//   display: none;
// }

// .btn-add::after {
//   content: "Add";
// }

// .array-item-remove > i {
//   display: none;
// }

// .array-item-remove::after {
//   content: "Remove";
// }

// .array-item-move-down > i {
//   display: none;
// }

// .array-item-move-up > i {
//   display: none;
// }


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}